.popup {
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%; 
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 4;
 }
 
.popup.active {
  visibility: visible;
  opacity: 1;
}