.popup__delete{
    background-color: #000;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    width: 358px;
    max-height: 50px;
    font-size: 18px;
    line-height: 22px;
	font-style: normal;
    font-weight: 400;
    text-align: center;
    align-self: center;
    border: none;
    padding: 14px 124px 18px 125px;
    margin: 6px 36px 36px 36px;
    cursor: pointer;
}

@media (max-width: 800px){
    .popup__delete{
        max-height: 46px;
        margin: 5px 22px 25px 22px;
        padding: 14px 82px 14px 82px;
    }
}

@media (max-width: 600px){
    .popup__button-delete{
        max-width: 238px;
        
    }
}

.popup__delete:hover {
    opacity: 0.8;
}