.page {	
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  background: #000000;
  font-family: 'Inter','Arial', 'Helvetica', sans-serif;
  margin: 0 auto;
  padding: 0;
  color: #FFFFFF;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}