.popup__container_type_list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 430px;
  width: 100%;
  padding: 34px 36px 37px 36px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}


@media all and (max-width: 800px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px 25px 22px;
  }
}