.popup__save {
  width: 100%;
  height: 50px;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  color: #FFFFFF;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  text-align: center;
  margin-top: 18px;
  cursor: pointer;
  transition: opacity 1s linear;
}

.popup__save:hover {
  opacity: 0.8;
}

@media all and (max-width: 800px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
    height: 46px;
    margin-top: 15px;
  }
}