.header__logo {
   background-image: url(../../../image/logo.svg);
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
   width: 142px;
   height: 33px;
   margin: 0 0 41px 0;
   
}

@media screen and (max-width: 320px) {
   .header__logo {
      width: 103px;
      height: 24px;
	  margin-left: 27px;
	  margin-bottom: 31px;
   }
}