.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 880px;
  margin: 45px auto 40px;
  padding: 0;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}


@media screen and (max-width: 320px) {
	.header {
		margin: 28px auto 42px;
  }
}
