.profile__block {
  max-width: calc(100%-169px);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid blue;
}

@media all and (max-width: 320px) {
.profile__block {
 width: 100%;
 flex-direction: column;
 text-align: center;
 }
}