.popup__close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  border: 0;
  background-image: url('../../../image/close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  cursor: pointer;
  transition: opacity 1s linear;
}
.popup__close:hover{
    opacity: 0.6;
}

@media screen and (max-width: 800px) {
  .popup__close {
    width: 20px;
    height: 20px;
	right: 0px;
}
}