.profile__name {
  max-width: 294px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 18px 0 0;
  padding: 0;
  text-align: left;
}

@media all and (max-width: 1050px) {
  .profile__name {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
    margin-left: 46px;
    text-align: center;
  }
}