.profile__names {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 30px;
  padding: 0;
}

@media all and (max-width: 1050px) {
  .profile__name {
   margin-right: 38px;
}