.profile__names {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 0 18px 16px 0;
  padding: 0;
}

@media all and (max-width: 320px) {
  .profile__name {
   margin: 0 10px 14px 0;
  }
}