@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

@import url("../blocks/page/page.css");

@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");

@import url("../blocks/content/content.css");

@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar-block/profile__avatar-block.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__names/profile__names.css");
@import url("../blocks/profile/__name/profile__name.css");
@import url("../blocks/profile/__edit/profile__edit.css");
@import url("../blocks/profile/__job-text/profile__job-text.css");
@import url("../blocks/profile/__add/profile__add.css");

@import url("../blocks/photo-grid/photo-grid.css");
@import url("../blocks/card/card.css");
@import url("../blocks/card/__image/card__image.css");
@import url("../blocks/card/__box/card__box.css");
@import url("../blocks/card/__name/card__name.css");
@import url("../blocks/card/__like/card__like.css");
@import url("../blocks/card/__like/_active/card__like_active.css");
@import url("../blocks/card/__delete/card__delete.css");

@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__author/footer__author.css");


@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/_opened/popup_opened.css");
@import url("../blocks/popup/__input-error/popup__input-error.css");
@import url("../blocks/popup/__input-error/_active/popup__input-error_active.css");
@import url("../blocks/popup/__container/popup__container.css");
@import url("../blocks/popup/__form/popup__form.css");
@import url("../blocks/popup/__form/popup__form_type_edit.css");
@import url("../blocks/popup/__form/popup__form_type_add.css");
@import url("../blocks/popup/__close/popup__close.css");
@import url("../blocks/popup/__input/_error/popup__input_error.css");
@import url("../blocks/popup/__fieldset/popup__fieldset.css");
@import url("../blocks/popup/__title/popup__title.css");
@import url("../blocks/popup/__input/popup__input.css");
@import url("../blocks/popup/__save/popup__save.css");
@import url("../blocks/popup/__save/_disable/popup__save_disable.css");
@import url("../blocks/popup/__photo-img/popup__photo-img.css");
@import url("../blocks/popup/__photo-name/popup__photo-name.css");
@import url("../blocks/popup/__container/_type/popup__container_type_photo.css");
@import url("../blocks/popup/__container/_type/popup__container_type_list.css");

