.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 336px;
  margin: 22px 0 25px 0;
  padding: 0;
 }


@media all and (max-width: 320px) {
  .profile__info {
	flex-direction: column;
    min-width: 282px;
	width: 100%;
	margin: 22px auto 36px;
  }
}