.card__like {
  margin: 0 21px 0 0;
  background-image: url('../../../image/like.svg');
  background-position: center;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  min-height: 19px;
  cursor: pointer;
  border: none;
  transition: opacity 1s linear;
}

.card__like:hover {
  opacity: 0.5;
}