.profile__avatar-block {
  margin: 0 30px 0 0;
  display: flex;
  align-self: stretch;
  padding: 0;
  height: 100%;
  width: 120px;
}


@media all and (max-width: 1050px) {
  .profile__avatar-block {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}