.card__like_active { 
  margin: 0 30px 0 0; 
  background-image: url('../../../../image/Union.svg'); 
  background-position: center; 
  background-color: transparent; 
  background-size: contain; 
  background-repeat: no-repeat; 
  width: 22px; 
  min-height: 19px; 
  cursor: pointer; 
  border: none; 
} 